@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: 45 100% 95%;
    --foreground: 45 5% 0%;
    --card: 45 50% 90%;
    --card-foreground: 45 5% 10%;
    --popover: 45 100% 95%;
    --popover-foreground: 45 100% 0%;
    --primary: 45 96.1% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 7 30% 85%;
    --muted-foreground: 45 5% 35%;
    --accent: 7 30% 80%;
    --accent-foreground: 45 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 45 5% 90%;
    --border: 45 30% 50%;
    --input: 45 30% 18%;
    --ring: 45 96.1% 50%;
    --radius: 0.5rem;
    font-family: 'Comfortaa', sans-serif;
    --cyrannus-primary: #FABC05;
    --cyrannus-primary-55: #FFC51A;
    --cyrannus-primary-65: #FCD769;
    --cyranus-primary-70: #FBD050;
    --cyrannus-secondary: #EC4E20;
    --cyrannus-secondary-60: #EF6A43;
    --cyrannus-gray: #847E89;
    --cyrannus-light-gray-95: #F2F2F2;
    --cyrannus-light-gray-90: #E6E4E7;
    --cyrannus-success: #52E718;
    --cyrannus-succes-80: #215C0A;
    --cyrannus-white: #F7F5FB;
    --cyrannus-black: #0A0908;

}

.dark {
    --background: 45 50% 5%;
    --foreground: 45 5% 90%;
    --card: 45 50% 0%;
    --card-foreground: 45 5% 90%;
    --popover: 45 50% 5%;
    --popover-foreground: 45 5% 90%;
    --primary: 45 96.1% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 7 30% 15%;
    --muted-foreground: 45 5% 60%;
    --accent: 7 30% 15%;
    --accent-foreground: 45 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 45 5% 90%;
    --border: 45 30% 18%;
    --input: 45 30% 18%;
    --ring: 45 96.1% 50%;
    --radius: 0.5rem;
    font-family: 'Comfortaa', sans-serif;
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
