@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --base-font-size: 1rem;
    --heading-font-size: 2rem;
    --paragraph-font-size: 1.25rem;
    --small-font-size: 0.875rem;
    --primary: #FABC05;
    --primary-55: #FFC51A;
    --primary-65: #FCD769;
    --primary-70: #FBD050;
    --secondary: #EC4E20;
    --secondary-60: #EF6A43;
    --gray: #847E89;
    --light-gray-95: #F2F2F2;
    --light-gray-90: #E6E4E7;
    --success: #52E718;
    --success-80: #215C0A;
    --white: #F7F5FB;
    --black: #0A0908;
    --font-family: 'Comfortaa', sans-serif;
    font-weight: 900;
    background-color: var(--primary);
}

.dark {
    --primary: #FABC05;
    --primary-55: #FFC51A;
    --primary-65: #FCD769;
    --primary-70: #FBD050;
    --secondary: #EC4E20;
    --secondary-60: #EF6A43;
    --gray: #847E89;
    --light-gray-95: #F2F2F2;
    --light-gray-90: #E6E4E7;
    --success: #52E718;
    --success-80: #215C0A;
    --white: #F7F5FB;
    --black: #0A0908;
    --font-family: 'Comfortaa', sans-serif;
    background-color: var(--primary);
}

* {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (max-width: 768px) {
    :root {
        --base-font-size: 0.875rem;
        --heading-font-size: 1.75rem;
        --paragraph-font-size: 1.125rem;
        --small-font-size: 0.75rem;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --base-font-size: 0.75rem;
        --heading-font-size: 1.5rem;
        --paragraph-font-size: 1rem;
        --small-font-size: 0.625rem;
    }
}
